body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1350px;
    }
}

.app-container {
    .header-container {
        .btn-Login {
            border-radius: 5px;
            margin-right: 15px;
            padding: 0 15px;
            border: 1px solid #535353;
            height: 40px;
        }

        .btn-Signup {
            border-radius: 5px;
            padding: 0 15px;
            background: #303030;
            color: white;
            height: 40px;

            &:hover {
                background: black;
            }
        }

        .navbar {
            padding-top: 20px;
            z-index: 10;
            // background-color: rgba(0, 0, 0, 0) !important;


            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
}

.homepage-container {
    width: 100%;
    /* Đặt chiều rộng 100% cho phần tử container */
    height: auto;
    /* Đặt chiều cao tự động */

    .homepage-content {
        padding: 50px;
        position: fixed;
        /* Đặt vị trí cố định cho nội dung */
        bottom: 0;
        /* Đặt nội dung sát đáy của trang */
        right: 0;
        /* Đặt nội dung sát cạnh phải của trang */
        width: 40%;
        /* Đặt chiều rộng của nội dung */
        display: flex;
        /* Sử dụng flexbox để bố trí nội dung */
        flex-direction: column;
        /* Bố trí nội dung theo chiều dọc */
        gap: 40px;
        /* Khoảng cách giữa các phần tử con */

        .title-1 {
            font-size: 60px;
            /* Đặt kích thước font */
            font-weight: 600;
            /* Đặt độ dày của font */
        }

        .title-2 {
            font-size: 25px;
            /* Đặt kích thước font */
        }

        .title-3 {
            button {
                border-radius: 5px;
                /* Bo góc cho nút */
                height: 40px;
                /* Đặt chiều cao cho nút */
                padding: 0 15px;
                /* Đặt khoảng cách padding cho nút */
                background: #303030;
                /* Đặt màu nền cho nút */
                color: white;
                /* Đặt màu chữ cho nút */
                border: none;
                /* Bỏ viền của nút */

                &:hover {
                    background: black;
                    /* Đổi màu nền khi hover */
                }
            }
        }
    }

    video {
        mask-image: -webkit-radial-gradient(center, white, black);
        /* Áp dụng gradient mặt nạ cho video */
        position: fixed;
        /* Đặt video ở vị trí cố định */
        bottom: 0;
        /* Đặt video sát đáy của trang */
        left: 0;
        /* Đặt video sát cạnh trái của trang */
        width: 60%;
        /* Đặt chiều rộng của video */
        height: auto;
        /* Đặt chiều cao tự động để duy trì tỉ lệ */
        object-fit: contain;
        /* Video sẽ giữ nguyên tỉ lệ và vừa khung chứa */
        overflow-clip-margin: content-box;
        /* Đặt lề cho phần nội dung bị tràn */
        overflow: clip;
        /* Ẩn nội dung tràn ra ngoài khung chứa */
    }
}

/* Media query để thay đổi bố cục khi màn hình nhỏ */
@media (max-width: 768px) {
    .homepage-container {
        .homepage-content {
            position: static;
            /* Đặt vị trí tĩnh cho nội dung */
            width: 100%;
            /* Đặt chiều rộng 100% */
        }

        video {
            position: static;
            /* Đặt vị trí tĩnh cho video */
            width: 100%;
            /* Đặt chiều rộng 100% */
            margin-top: 20px;
            /* Thêm khoảng cách phía trên video */
        }
    }
}